* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.auth-container {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-box {
  width: 360px;
  background: #e3e6e6;
  padding: 35px 30px;
  border: 2px solid lightgray;
  border-radius: 20px;
  text-align: center;
}

.auth-box h2 {
  margin-bottom: 25px;
}

.auth-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.auth-box button {
  background: #f2c963;
  border-radius: 10px;
  width: 100%;
  height: 40px;
  border: 1px solid;
  margin-top: 10px;
}

.auth-box button:hover {
  background: #f2c963;
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #fff;
  color: #333;
  border: 1px solid #ddd;
}

.google-btn img {
  width: 18px;
}

.switch {
  margin-top: 15px;
  font-size: 14px;
}

.switch a,
.google-link {
  color: #525ec4;
  text-decoration: none;
  font-weight: 600;
}

.google-link {
  display: block;
  margin-top: 12px;
}

.error {
  background: #ffe6e6;
  color: #c53030;
  padding: 8px;
  border-radius: 6px;
  margin-bottom: 12px;
  font-size: 14px;
}
